#!/bin/bash
cd /var/tmp
curl https://wordpress.org/latest.tar.gz | tar xzf -

mkdir /var/www/html/blog
cp -r wordpress/* /var/www/html/blog

cd /var/www/html/blog
mv wp-config-sample.php wp-config.php
sed -i -e "s/database_name_here/${db_name}/" \
  -e "s/username_here/${db_user}/" \
  -e 's/password_here/${db_pass}/' \
  -e "s/localhost/${db_addr}/" \
  wp-config.php
